body {
	margin:auto;
	background-color: rgba(129, 175, 222, 1);
}


.header{
	position:relative;
}

#header-text {
	font-family: "Merriweather",serif;
	font-size:30px;
	font-weight:800;
	text-align: center;
	margin:auto;
	position:relative;
	padding:50px;
	box-sizing: border-box;
}

.header,
#instrument-form,
#results {
	margin:25px auto 25px auto;
	width: 80%;
	height: 30%;
	border: 10px solid;
	border-color: rgba(236, 236, 110, 1); ;
	box-sizing:border-box;

}

#instrument-form {
	position:relative;
}

#instrument-form,
#results {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: 40;
	position:relative;
}


/* design scheme 

color 	: blue: rgba(129, 175, 222, 1)
		: yellow: rgba(236, 236, 110, 1) 

fonts:	: form text: Droid Sans regular 14px 400
		: header text: Merriweather regular 40px 400 ;3