
body {
	margin:auto;
	background-color: rgba(0, 0, 0, 1);
}


.header{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	z-index:10;
	height: 30%;
	border: 3px solid;
	border-color: rgba(137, 31, 31, 1);
	box-sizing:border-box;
	background-color: rgba(129, 175, 222, 1);
}

#header-text {
	font-family: "Yellowtail",serif;
	font-size:18px;
	font-weight:500;
	text-align: center;
	margin:auto;
	position:relative;
	padding:50px;
	box-sizing: border-box;
	z-index:10;
}

#instrument-form,
#results {
	margin:15px auto 15px auto;
	width: 80%;
	height: 30%;
	border: 3px solid;
	border-color: rgba(137, 31, 31, 0.6);
	box-sizing:border-box;
	background-color: rgba(129, 175, 222, 1);

}

#instrument-form {
	position:relative;
}

#instrument-form,
#results,
#results li {
	font-family: 'Droid Sans', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

#results{
	margin-left:10%;
	margin-right:10%;
	position:fixed;
	max-height:30%;
	overflow:scroll;
}

#results li {
	display:inline-block;
	padding: 10px;
}

/*@media screen and (max-width: 600px){
}


/* design scheme 

color 	: blue: rgba(129, 175, 222, 1)
		: yellow: rgba(236, 236, 110, 1)
		: red: rgba(137, 31, 31, 0.8) 

fonts:	: form text: Droid Sans regular 14px 400
		: header text: Yellowtail regular 40px 400 ;3